body {
    background: #5f0a1b;
    font: normal, 15pt Arial;
}

header {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

footer{
    color: white;
    text-align:center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 8px;
}

#copy{
    padding: 20px;
    text-align: center;
}

#fluid{
    padding:50px;
}

#flu {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#fil {
    margin-left: 90px;
}

#mas {
    margin-left: 50px;
}

#fem {
    margin-left: 50px;
}

#button {
    margin-top: 20px;
    margin-right: 180px;

}